@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack:"Montserrat", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $font-stack;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

ul {
    list-style: none;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: grey;
    text-decoration: underline;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    overflow: auto;
}

img {
    max-width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 10px;
}

.flex {
    display: flex;
    flex: 1;
    gap: 30px;
}

.subtitle {
    font-size: 4rem;
    font-weight: 400;
    text-align: left;
}

.title {
    font-size: 4rem;
    font-weight: 400;
    text-align: center; 
    text-transform: uppercase;
}

p {
    line-height: 30px;
    text-align: justify;
    margin: 2rem 0;
}

    //tricky hover-effect
  a:hover {
    // font-size: 2.4rem;
    // font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: gray;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 400;
  }
  //tricky hover-effect


//mainheader
#mainheader {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    .navbar {
        ul {
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 3rem;
            li {
                display: inline;
                margin-left: 1rem;
            }
            .container {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }
        .logo {
            //tricky hover-effect
            width: 32%;
            height: 60px;
            margin: 0 auto;
            text-decoration: none;
            border: 3px solid black;
            font-size: 2rem;
            color: grey;
            padding: 10px;
        }
    }
}

//showcase
#showcase {
    width: 95%;
    margin: 0 auto;
    .showcase-grid {
        margin-top: 4rem;
        .gridbox-1 {
            background: url("/img/img1.jpg");
            grid-column: 1/3;
            grid-row: 1/3;
        }
        .gridbox-2 {
            background: url("/img/img2.jpg");
            grid-column: 3/4;
            grid-row: 1;
        }
        .gridbox-3 {
            background: url("/img/img3.jpg");
            grid-column: 3/4;
            grid-row: 2;
        }
        .gridbox-4 {
            background: url("/img/img4.jpg");
            grid-column: 1/2;
            grid-row: 3;
        }
        .gridbox-5 {
            background: url("/img/img5.jpg");
            grid-column: 1/2;
            grid-row: 4;
        }
        .gridbox-6 {
            background: url("/img/img6.jpg");
            grid-column: 2/4;
            grid-row: 3/5;
        }

        .gridbox-1,
        .gridbox-2,
        .gridbox-3,
        .gridbox-4,
        .gridbox-5,
        .gridbox-6 {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
    }
}

//sneakers
#sneakers {
    width: 90%;
    margin: 0 auto;
    .sneakers-grid {
        margin-top: 4rem;
        .gridbox-1 {
            background: url("/img/img1.jpg");
            grid-column: 1/4;
      
        }
        .gridbox-2 {
            background: url("/img/img3.jpg");
            grid-column: 1/4;
           
        }
        .gridbox-3 {
            background: url("/img/img4.jpg");
            grid-column: 1/4;
            
        }
        .gridbox-4 {
            background: url("/img/img5.jpg");
            grid-column: 1/4;
           
        }
        .gridbox-1,
        .gridbox-2,
        .gridbox-3,
        .gridbox-4 {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 1rem;
            height: 140vh;
        }
    }
  
}

//dressShoes
#dressShoes {
    width: 90%;
    margin: 0 auto;
    .dressShoes-grid {
        margin-top: 4rem;
        .gridbox-1 {
            background: url("/img/img6.jpg");
            grid-column: 1/4;
            grid-row: 1/4;
        }
        .gridbox-2 {
            background: url("/img/img2.jpg");
            grid-column: 1/4;
            grid-row: 4/7;
        }

        .gridbox-1,
        .gridbox-2 {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

//about
#about {
    width: 90%;
    margin: 0 auto;
    .container {
        .title {
            margin: 5rem 0;
        }
        .about-flex {
            .flexbox-1 {
                width: 50%;
            }
            .flexbox-2 {
                width: 40%;
            }
        }
    }
}

//articles
#articles {
    .container {
        .articles-flex {
            .details-flex {
                a,h2 {
                    font-size: .8rem;
                    margin-bottom: 1rem;
                }
                h2 {
                    text-transform: uppercase;
                    font-weight: 400;
                }
              
            }
            margin-top: 4rem;
            .flexbox {
                img {
                    width: 60%;
                }
            }
            .flexbox-content {
                ul {
                    li {
                        margin-bottom: .2rem;
                       i {
                        color: blue;
                       }
                    }
                }
            }
        }
    }
}

//footer
#footer {
    text-align: center;
    padding: 3rem 0;
}